.Location {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	justify-content: flex-start;

	&-headline {
		height: 10%;
	}

	&-inputWrapper {
		display: flex;
		justify-content: center;
		align-items: stretch;
		padding: 1rem 0;
		border-radius: 2rem;
		font-size: 1rem;
	}

	&-input {
		border: 0;
		background: none;
		display: flex;
		width: 100%;
		padding: .5rem;
		border-bottom: 1px solid #e6e9ef;
		height: 100%;
	}

	&-results {
		display: flex;
		flex-direction: column;
		list-style: none;
		overflow-y: auto;
		flex: 1;
	}

	&-result {
		margin-bottom: 1rem;
	}
}
