.Layout {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	height: 100%;

	&-wrapper {
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		height: 100%;
	}

	&-sideNavigation {
		display: flex;
		flex-direction: row;
		background-color: #1d2643;
		border-radius: 1rem;
		align-items: center;
		justify-content: space-evenly;
		padding: 1rem;
		margin-bottom: 1rem;
	}

	&-top {
		flex-grow: 1;
		display: flex;
	}

	&-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
	}

	&-link {
		text-transform: uppercase;
		color: #a8b9c1;
		text-decoration: none;

	}
}

@media screen and (min-width: 992px) {
	.Layout {
		&-wrapper {
			flex-direction: row;
		}

		&-sideNavigation {
			flex-basis: 20%;
			margin-bottom: 0;
			margin-right: 2rem;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		&-link {
			margin: 1rem;
		}
	}
}
